@import "tailwindcss";

@theme {
  --color-news-bg: #e3e1d5;
  --color-news-gray: #353535;
  --color-news-orange: #d74108;
  --font-Ibarra: "Ibarra Real Nova", serif;
  --font-Inter: "Inter", serif;
  --font-Cormorant: "Cormorant Garamond", serif;
}
